<div class="row">
<div class="col-md-9">
<h1><%= t('page.new', model: t('activerecord.models.series_statement_merge')) -%></h1>
<div class="card-body bg-light">

<%= form_for(@series_statement_merge) do |f| -%>
  <%= f.error_messages -%>
  <div class="field">
    <%= f.label t('activerecord.models.series_statement') -%><br />
    <%- if @series_statement -%>
      <%= link_to @series_statement.original_title, @series_statement -%>
      <%= f.hidden_field :series_statement_id -%>
    <%- else -%>
      <%= f.text_field :series_statement_id -%>
    <%- end -%>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.series_statement_merge_list') -%><br />
    <%- if @series_statement_merge_list -%>
      <%= link_to @series_statement_merge_list.title, series_statement_merge_list_path(@series_statement_merge_list) -%>
      <%= f.hidden_field :series_statement_merge_list_id -%>
    <%- else -%>
      <%= f.text_field :series_statement_merge_list_id -%>
    <%- end -%>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<%- end -%>

</div>
</div>

<div class="col">
  <ul>
    <li><%= link_to t('page.back'), series_statement_merges_path -%></li>
  </ul>
</div>
