<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.resource_import_result')) -%></h1>
<div id="content_list">
  <% if @resource_import_file %>
    <%= render "list_lines" %>
  <% else %>
    <%= render "list" %>
  <% end %>

<%= paginate(@resource_import_results) %>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li>
    <% if @resource_import_file %>
      <%= link_to((image_tag 'icons/page_white_excel.png', size: '16x16', alt: 'TSV', class: 'icon'), resource_import_results_path(resource_import_file_id: @resource_import_file.id, format: :txt)) -%>
      (<%= link_to 'TSV', resource_import_results_path(resource_import_file_id: @resource_import_file.id, format: :txt) -%>)
    <% else %>
      <%= link_to((image_tag 'icons/page_white_excel.png', size: '16x16', alt: 'TSV', class: 'icon'), resource_import_results_path(format: :txt)) -%>
      (<%= link_to 'TSV', resource_import_results_path(format: :txt) -%>)
    <% end %>
    </li>
  </ul>
</div>
