<div class="row">
<div class="col-md-9">
<h1><%= t('page.editing', model: t('activerecord.models.donate')) -%></h1>
<div class="card-body bg-light">

<%= form_for(@donate) do |f| -%>
  <%= f.error_messages -%>
  <div class="field">
    <%= f.label t('activerecord.models.agent') -%><br />
    <%= f.text_field :agent_id -%>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.item') -%><br />
    <%= f.text_field :item_id -%>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<%- end -%>

</div>
</div>

<div class="col">
  <ul>
    <li><%= link_to t('page.show'), @donate -%></li>
    <li><%= link_to t('page.back'), donates_path -%></li>
  </ul>
</div>
