<%= form_for(@series_statement) do |f| %>
  <%= f.error_messages %>

  <%- if !@series_statement.new_record? and @manifestation -%>
    <div class="form-group">
      <%= link_to @manifestation.original_title, @manifestation -%>
      <%= f.hidden_field :manifestation_id %>
    </div>
  <%- end -%>

  <div class="form-group">
    <%= f.label :original_title %>
    <%= f.text_field :original_title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :title_transcription %>
    <%= f.text_field :title_transcription, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :title_subseries %>
    <%= f.text_field :title_subseries, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :title_subseries_transcription %>
    <%= f.text_field :title_subseries_transcription, class: 'form-control' %>
  </div>
  <!--
  <div class="form-group">
    <%= f.label :numbering %>
    <%= f.text_field :numbering %>
  </div>
  <div class="form-group">
    <%= f.label :numbering_subseries -%>
    <%= f.text_field :numbering_subseries %>
  </div>
  <div class="form-group">
    <%= f.label :series_statement_identifier -%>
    <%= f.text_field :series_statement_identifier, class: 'resource_identifier' %>
  </div>
  -->
  <div class="form-group">
    <%= f.label :note -%>
    <%= f.text_area :note, class: 'form-control' -%>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
