<%= form_with(model: custom_manifestation_label, local: true) do |form| %>
  <% if custom_manifestation_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(custom_manifestation_label.errors.count, "error") %> prohibited this custom_manifestation_label from being saved:</h2>

      <ul>
      <% custom_manifestation_label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :library_group_id %>
    <%= form.text_field :library_group_id %>
  </div>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
