<p id="notice"><%= notice %></p>

<h1>Custom Manifestation Labels</h1>

<table>
  <thead>
    <tr>
      <th>Library group</th>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_manifestation_labels.each do |custom_manifestation_label| %>
      <tr>
        <td><%= custom_manifestation_label.library_group.name %></td>
        <td><%= custom_manifestation_label.label %></td>
        <td><%= link_to 'Show', custom_manifestation_label %></td>
        <td><%= link_to 'Edit', edit_custom_manifestation_label_path(custom_manifestation_label) %></td>
        <td><%= link_to 'Destroy', custom_manifestation_label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Manifestation Label', new_custom_manifestation_label_path %>
