<p id="notice"><%= notice %></p>

<h1>Manifestation Custom Properties</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Display name</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manifestation_custom_properties.each do |manifestation_custom_property| %>
      <tr>
        <td><%= manifestation_custom_property.name %></td>
        <td><%= manifestation_custom_property.display_name %></td>
        <td><%= manifestation_custom_property.note %></td>
        <td><%= link_to 'Show', manifestation_custom_property %></td>
        <td><%= link_to 'Edit', edit_manifestation_custom_property_path(manifestation_custom_property) %></td>
        <td><%= link_to 'Destroy', manifestation_custom_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manifestation Custom Property', new_manifestation_custom_property_path %>
