<div class="row">
  <div class="col-md-9">
    <h1><%= t('page.new', model: t('activerecord.models.import_request')) -%></h1>
    <p id="notice"><%= notice %></p>

    <%= form_for(@import_request) do |f| -%>
      <%= f.error_messages -%>
      <div class="field">
        <%= f.label :isbn -%><br />
        <%= f.search_field :isbn, class: 'form-control' -%>

        <%= f.submit class: 'btn btn-primary', 'data-disable-with' => t('page.saving') %>
      </div>
      <%= javascript_tag("$(function(){$('#import_request_isbn').focus()})") %>
    <%- end -%>

  </div>

  <div class="col">
    <div class="card card-body">
      <ul>
        <li><%= link_to t('page.back'), :back -%></li>
        <li><%= link_to t('page.listing', model: t('activerecord.models.import_request')), import_requests_path -%></li>
        <li><%= link_to t('page.add_resource_manually'), new_manifestation_path -%></li>
        <li><%= link_to t('page.import_from_file'), new_resource_import_file_path -%></li>
      </ul>
    </div>
  </div>
</div>
