<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.identifier')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.identifier.body') %></th>
    <th><%= t('activerecord.attributes.identifier.manifestation_id') %></th>
    <th></th>
  </tr>

<% @identifiers.each do |identifier| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to identifier.body, identifier %></td>
    <td><%= link_to identifier.manifestation.original_title, identifier.manifestation if identifier.manifestation %></td>
    <td>
      <%= link_to t('page.edit'), edit_identifier_path(identifier) %>
      <%= link_to t('page.destroy'), identifier, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@identifiers) %>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to 'New Identifier', new_identifier_path %></li>
  </ul>
</div>
