<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.identifier')) -%></h1>
<div id="content_list" class="ui-corner-all">
<p id="notice"><%= notice %></p>

<p>
  <b><%= t('activerecord.attributes.identifier.body') %>:</b>
  <%= @identifier.identifier_type.name %>: <%= @identifier.body %>
</p>

<p>
  <b><%= t('activerecord.attributes.identifier.manifestation_id') %>:</b>
  <%= link_to @identifier.manifestation.original_title, @identifier.manifestation %>
</p>

<p>
  <b><%= t('activerecord.attributes.identifier.primary') %>:</b>
  <%= @identifier.primary %>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_identifier_path(@identifier) %></li>
    <li><%= link_to t('page.back'), identifiers_path %></li>
  </ul>
</div>
