<%= render 'manifestations/title', manifestation: @item.manifestation -%>
<% if defined?(EnjuSubject) %>
  <p>
    <%= t('activerecord.models.classification') -%>:
    <%- @item.manifestation.classifications.each do |classification| -%>
      <%= link_to "#{classification.classification_type.display_name}: #{classification.category}", manifestations_path(query: "classification_sm:#{classification.classification_type.name}_#{classification.category}") -%>
    <%- end -%>
  </p>
<% end %>
<%= render 'page/required_field' %>
<%= simple_form_for(@item) do |f| -%>
  <%= f.error_messages -%>
  <%= f.hidden_field :manifestation_id, value: @item.manifestation_id if @item.manifestation_id %>

  <div class="form-group">
    <%= f.label "#{t('activerecord.models.library')} / #{t('activerecord.models.shelf')}" -%>
    <%= f.select :library_id, @libraries.map{|l| [l.display_name, l.id]} %>
    <%= f.select :shelf_id, @shelves.map{|s| [s.display_name, s.id]} %>
    <%= render 'observe_field' %>
  </div>

  <% if defined?(EnjuCirculation) %>
    <div class="form-group">
      <%= f.label t('activerecord.models.checkout_type') -%>
      <%= f.select(:checkout_type_id, @checkout_types.collect{|c| [c.display_name, c.id]}, {}, {class: 'form-control'}) -%>
    </div>

    <div class="form-group">
      <%= f.label t('activerecord.models.circulation_status') -%>
      <%= f.select(:circulation_status_id, @circulation_statuses.collect{|c| [c.display_name, c.id]}, {}, {class: 'form-control'}) -%>
    </div>

    <div class="form-group">
      <%= f.label t('activerecord.models.use_restriction') -%>
      <%= f.fields_for :item_has_use_restriction do |i| %>
        <%= i.select :use_restriction_id, @use_restrictions.collect{|r| [r.display_name, r.id]}, {}, {class: 'form-control'} %>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :include_supplements -%>
    <%= f.check_box :include_supplements -%>
  </div>

  <div class="form-group">
    <%= f.label :call_number -%>
    <%= f.text_field :call_number, class: 'form-control' -%>
  </div>

  <div class="form-group">
    <%= f.label t('activerecord.models.budget_type') -%>
    <%= f.select(:budget_type_id, @budget_types.collect{|b| [b.display_name, b.id]}, include_blank: true) -%>

    <%= f.label t('activerecord.models.bookstore') -%>
    <%= f.select(:bookstore_id, @bookstores.collect{|b| [b.name, b.id]}, include_blank: true) -%>
  </div>

  <div class="form-group">
    <%= f.label :price -%>
    <%= f.text_field :price -%>
  </div>

  <div class="form-group">
    <%= f.label :url -%>
    <%= f.url_field :url, class: 'form-control' -%>
  </div>

  <div class="form-group">
    <%= f.label t('role.required_role') -%>
    <%= f.select(:required_role_id, @roles.collect{|r| [r.display_name, r.id]}, {}, {class: 'form-control'}) -%>
  </div>

  <div class="form-group">
    <%= f.label :acquired_at -%>
    <%= f.text_field :acquired_at, value: @item.acquired_at.try(:strftime, "%Y-%m-%d"), class: 'date_text_field', placeholder: "#{t('page.example')}: 2011-04-12"-%>
  </div>

  <div class="form-group">
    <%= f.label :binding_call_number -%>
    <%= f.text_field :binding_call_number -%>

    <%= f.label :binded_at -%>
    <%= f.text_field :binded_at, value: @item.binded_at.try(:strftime, "%Y-%m-%d"), class: 'date_text_field', placeholder: "#{t('page.example')}: 2014-07-20"-%>
  </div>

  <div class="form-group">
    <%= f.label :binding_item_identifier -%>
    <%= f.text_field :binding_item_identifier, class: 'resource_identifier' -%>
  </div>

  <div class="form-group">
    <%= f.label :note -%><br />
    <%= f.text_area :note, class: 'form-control' -%>
  </div>

  <div class="form-group">
    <%= f.label :memo -%><br />
    <%= f.text_area :memo, class: 'form-control' -%>
  </div>

  <div class="form-group">
    <%= f.label :item_identifier -%>
    <%= f.text_field :item_identifier, class: 'resource_identifier' -%>
  </div>

  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= f.submit class: 'btn btn-primary', data: {disable_with: t('page.saving')}, class: 'btn btn-primary' -%>
  </div>
  <%= javascript_tag("$(function(){$('#library_id').focus()})") %>
<%- end -%>
