<p id="notice"><%= notice %></p>

<p>
  <strong>Library group:</strong>
  <%= @custom_item_label.library_group %>
</p>

<p>
  <strong>Label:</strong>
  <%= @custom_item_label.label %>
</p>

<%= link_to 'Edit', edit_custom_item_label_path(@custom_item_label) %> |
<%= link_to 'Back', custom_item_labels_path %>
