<%= form_for(@periodical) do |f| %>
  <% if @periodical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@periodical.errors.count, "error") %> prohibited this periodical from being saved:</h2>

      <ul>
      <% @periodical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :original_title %><br>
    <%= f.text_area :original_title %>
  </div>
  <div class="field">
    <%= f.label :manifestation_id %><br>
    <%= f.text_field :manifestation_id %>
  </div>
  <div class="field">
    <%= f.label :frequency_id %><br>
    <%= f.text_field :frequency_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
