<div class="row">
<div class="col-md-9">
<h1><%= t('page.showing', model: t('activerecord.models.attachment.file')) -%></h1>
<div class="card-body bg-light">
<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @attachment.file.id -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.attachment.file.attachment.file_name') -%>:</strong>
  <%= link_to @attachment.file.attachment.filename.to_s, attachment.file_path(@attachment.file, format: :download) if @attachment.file.attachment.attached? %>
</p>

<p>
  <strong><%= t('activerecord.attributes.attachment.file.attachment.content_type') -%>:</strong>
  <%= @attachment.file.attachment.content_type -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.attachment.file.attachment.file_size') -%>:</strong>
  <%= @attachment.file.attachment.byte_size -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.attachment.file.attachment.fingerprint') -%>:</strong>
  <%= @attachment.file.attachment.fingerprint -%>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%=l @attachment.file.created_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.attachment.file.executed_at') -%>:</strong>
  <%= l(@attachment.file.executed_at) if @attachment.file.executed_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.attachment.file.edit_mode') -%>:</strong>
  <%= @attachment.file.edit_mode -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.attachment.file.user_encoding') -%>:</strong>
  <%= @attachment.file.user_encoding -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.manifestation_import_file.state') -%>:</strong>
  <%= localized_state(@attachment.file.current_state) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.attachment.file.error_message') -%>:</strong>
  <%= @attachment.file.error_message -%>
</p>

<p>
  <strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to @attachment.file.user.username, @attachment.file.user.profile if @attachment.file.user.try(:profile) -%>
</p>

</div>
</div>

<div class="col">
  <%= form_for(@attachment.file) do |f| %>
  <ul>
    <li><%= link_to t('activerecord.models.attachment.result'), attachment.results_path(attachment.file_id: @attachment.file.id) -%></li>
    <li><%= back_to_index(flash[:page_info]) -%></li>
    <% if current_user.has_role?('Administrator') %>
      <li><%= link_to 'Resque', resque_path %></li>
    <% end %>
  </ul>
  <% end %>
</div>
