<div class="row">
  <div class="col-md-9">
    <h1><%= t('page.new', model: t('activerecord.models.picture_file')) -%></h1>

    <%= form_for(@picture_file, url: picture_files_path, html: { multipart: true, method: :post }) do |f| -%>
      <% if @picture_file.errors.any? %>
        <div id="error_explanation">
          <ul>
            <li><%= t('picture_file.invalid_file') %></li>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :picture_attachable_id -%>
      <%= f.hidden_field :picture_attachable_type -%>

      <div class="form-group">
        <%= f.label t('page.file') -%><br />
        <%= f.file_field :attachment -%>
      </div>

      <div class="actions">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <%- end -%>
  </div>

  <div class="col">
    <ul>
      <li><%= link_to t('page.back'), :back -%></li>
    </ul>
  </div>
</div>
