<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale.to_s -%>" lang="<%= @locale.to_s -%>">
<head>
  <meta charset="UTF-8" />
  <%= render 'page/include' %>
  <title><%= title(controller.controller_name) %></title>
  <% if %w(index show new edit).include?(controller.action_name) %>
    <%= book_jacket_header(@library_group.settings[:book_jacket_source]) %>
  <% end %>
</head>
<body itemscope itemtype="http://schema.org/WebPage">

<%= render 'page/header' %>
<%= render 'page/menu' %>

<div id="content">

<%= yield %>

</div>

<%= render 'page/footer' %>

</body>
</html>
