<%= simple_form_for(@series_statement_relationship) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.hidden_field :parent_id %>
  </div>

  <div class="field">
    <%= f.hidden_field :child_id %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
