<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.series_statement_relationship')) -%></h1>
  <div id="content_list">

<table>
  <tr>
    <th>Parent</th>
    <th>Child</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @series_statement_relationships.each do |series_statement_relationship| %>
  <tr>
    <td><%= link_to series_statement_relationship.parent.original_title, series_statement_relationship.parent %></td>
    <td><%= link_to series_statement_relationship.child.original_title, series_statement_relationship.child %></td>
    <td><%= link_to 'Show', series_statement_relationship %></td>
    <td><%= link_to 'Edit', edit_series_statement_relationship_path(series_statement_relationship) %></td>
    <td><%= link_to 'Destroy', series_statement_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to 'New Series statement relationship', new_series_statement_relationship_path %></li>
  </ul>
</div>
